doctype html
html
  head
    title= "#{AlterAdmin.config.app_name} - Панель Администрирования"
    = stylesheet_link_tag    "admin/style", media: "all"
    = javascript_include_tag "admin/script"
    = csrf_meta_tags
  body
    nav.navbar.navbar-inverse role="navigation"
      .navbar-header
        button.navbar-toggle type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        = link_to AlterAdmin.config.app_name, '/', class: 'navbar-brand'
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav
          li: a href="/admin" Панель администрирования
          li.dropdown
            a.dropdown-toggle href="#" data-toggle="dropdown"
              = "Разделы"
              b.caret
            ul.dropdown-menu
              - AlterAdmin.config.registered_models.each do |model|
                li: a href=send("admin_#{model.name.underscore.pluralize}_path") = model.model_name.human
        ul.nav.navbar-nav.navbar-right
          li.dropdown
            a.dropdown-toggle href="#" data-toggle="dropdown"
              = current_user.to_s
              b.caret
            ul.dropdown-menu
              li: a href=destroy_session_path data-method="delete" Выход
    #wrapper.container
      - flash.each do |type, msg|
        .bs-callout class="bs-callout-#{flash_type_convert(type)}"
          div= msg

      == yield
      .footer-guarantor