<div class="page-header">
  <h1>Информация</h1>
</div>

<table class="datatable">
  <thead>
    <tr>
      <th>Модель</th>
      <th>Количество</th>
      <th>Операции</th>
    </tr>
  </thead>
  <tbody>
    <% AlterAdminSettings.registered_models.each do |model|  %>
      <tr>
        <td><%= model.model_name.human %></td>
        <td><%= model.count %></td>
        <td>
          <%= link_to send("admin_#{model.name.underscore.pluralize}_path") do %>
            <%= fa_icon 'share-square-o 2x' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>