.page-header
  h1.pull-left = "Новый #{resource_class.model_name.human}"
  .pull-right
    = link_to 'Отмена', collection_path, class: 'btn btn-danger'

== error_messages_for resource

= simple_form_for resource, url: collection_path, wrapper: :alter_admin_bootstrap3 do |f|
  = render 'form', f: f
