.page-header
  h1.pull-left = "#{t('alter_admin.resource.show.title')} #{resource.class.model_name.human} ##{resource.id}"
  .pull-right
    = link_to t('alter_admin.resource.show.back'), collection_path, class: 'btn btn-default'
  .pull-right
    = link_to t('alter_admin.resource.show.edit'), edit_resource_path(resource), class: 'btn btn-info'

table.table.table-bordered
  tbody
    - "#{resource_class.name}AdminSetting".constantize.show_columns.each do |name, info|
      tr
        td = resource_class.human_attribute_name(name)
        td = AlterAdmin::ValueDecorator.render(resource, name, info)
